body {
    font-family: Arial;
    text-align: center;
    background: #eef2f3;
}

input {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px 20px;
    background: orange;
    border: none;
    cursor: pointer;
}

table {
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;
    width: 90%;
    background: white;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background: orange;
}