body {
    font-family: Arial;
    text-align: center;
    background: linear-gradient(to right, #dfe9f3, #ffffff);
}

h1 {
    color: darkblue;
}

input, select {
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background: orange;
    border: none;
    cursor: pointer;
}

table {
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;
    width: 90%;
    background: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background: orange;
}

@media (max-width: 600px) {
    table {
        font-size: 12px;
    }
}